external/win32/xsltproc/docs/en/search.dtd

<!-- 
     File : search.dtd     
     Author: Keith Isdale <k_isdale@tpg.com.au>
     Description: Documentation type definition for dataBase generated by xslSearchQuery()
     Copyright Reserved Under GPL     

  Refer to this DTD via

<!DOCTYPE search PUBLIC "-//xsldbg//DTD search XML V1.0//EN" "search.dtd">

-->
<!ELEMENT search (breakpoint|(source|include|import)+|template|callstack)+>
  <!-- url is the url for the entity in the xsl source file -->
  <!-- line is the line number for entity in the xsl source file -->
  <!ENTITY  % fileAtts 
      "url CDATA #IMPLIED
       line CDATA #IMPLIED"
  >

<!ELEMENT breakpoint EMPTY>
  <!-- id is the unique id given to breakpoint by xsldbg -->
  <!-- enabled is either
       1 : for an enabled breakpoint
       0 : for a disabled breakpoint -->
  <!-- template is the name of template where breakpoint is set if any -->
  <!-- type is either 
       1 : for a source breakpoint
       2 : for a xml data file breakpoint
       -->
<!ATTLIST breakpoint 
  id CDATA #REQUIRED
  enabled CDATA #REQUIRED
  %fileAtts;
  template CDATA #IMPLIED
  type CDATA #IMPLIED  
    >

<!ELEMENT source EMPTY>
  <!-- parent is the document we were included from if any -->
  <!-- href is the url for this source file -->
<!ATTLIST source
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >


<!ELEMENT import EMPTY>
  <!-- parent is the document we were imported from -->
  <!-- href is the url for this source file -->
<!ATTLIST import
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >
  

<!ELEMENT include EMPTY>
  <!-- parent is the document we were included from -->
  <!-- href is the url for this source file -->
<!ATTLIST include
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >

<!ELEMENT template EMPTY>
<!ATTLIST template
  match CDATA #IMPLIED
  name CDATA #IMPLIED  
  %fileAtts;
  >

<!ELEMENT callstack EMPTY>
<!ATTLIST callstack
  template CDATA #IMPLIED
  %fileAtts;
  >