external/win32/xsltproc/docs/en/search_v1_1.dtd

<!-- 
     File : search_v1_1.dtd     
     Author: Keith Isdale <k_isdale@tpg.com.au>
     Description: Documentation type definition for dataBase generated by xslSearchQuery()
     Copyright Reserved Under GPL     

  Refer to this DTD via

<!DOCTYPE search PUBLIC "-//xsldbg//DTD search XML V1.1//EN" "search_v1_1.dtd">

-->

<!ELEMENT search (breakpoint|source|include|import|template|callstack|variable)+>
  <!-- url is the url for the entity in the xsl source file -->
  <!-- line is the line number for entity in the xsl source file -->
  <!ENTITY  % fileAtts 
      "url CDATA #IMPLIED
       line CDATA #IMPLIED"
  >

<!-- Each item we report on can have a comment -->
<!ELEMENT comment (#PCDATA)>

<!ELEMENT breakpoint (comment?)>
  <!-- id is the unique id given to breakpoint by xsldbg -->
  <!-- enabled is either
       1 : for an enabled breakpoint
       0 : for a disabled breakpoint -->
  <!-- template is the name of template where breakpoint is set if any -->
  <!-- type is either 
       1 : for a source breakpoint
       2 : for a xml data file breakpoint
       -->
<!ATTLIST breakpoint 
  id CDATA #REQUIRED
  enabled CDATA #REQUIRED
  %fileAtts;
  template CDATA #IMPLIED
  type CDATA #IMPLIED  
    >

<!ELEMENT source (comment?)>
  <!-- parent is the document we were included from if any -->
  <!-- href is the url for this source file -->
<!ATTLIST source
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >


<!ELEMENT import (comment?)>
  <!-- parent is the document we were imported from -->
  <!-- href is the url for this source file -->
<!ATTLIST import
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >
  

<!ELEMENT include (comment?)>
  <!-- parent is the document we were included from -->
  <!-- href is the url for this source file -->
<!ATTLIST include
  href CDATA #REQUIRED
  parent CDATA #IMPLIED
  %fileAtts;
  >

<!ELEMENT template (comment?)>
<!ATTLIST template
  match CDATA #IMPLIED
  name CDATA #IMPLIED  
  %fileAtts;
  >

<!ELEMENT callstack (comment?)>
<!ATTLIST callstack
  template CDATA #IMPLIED
  %fileAtts;
  >

<!ELEMENT variable (comment?)>
 <!-- name is name of xsl:variable variable or xsl:param -->
 <!-- select is select of xsl:variable variable or xsl:param -->
 <!--templname and templmatch ONLY apply to local variables  ie xsl:param's -->
 <!-- templname is name of xsl:template that xsl:param belongs to -->
 <!-- templmatch is name of xsl:template that xsl:param belongs to -->
<!ATTLIST variable
  name CDATA #IMPLIED
  select CDATA #IMPLIED
  templname CDATA #IMPLIED
  templmatch CDATA #IMPLIED
  %fileAtts;
  >
