external/win32/xsltproc/docs/en/xsldoc.dtd

<!-- 
     File : xsldoc.dtd     
     Author: Keith Isdale <k_isdale@tpg.com.au>
     Description: Documentation type definition for xsldoc.xml
     Copyright Reserved Under GPL     

Refer to this DTD via 

<!DOCTYPE xsldoc PUBLIC "-//xsldbg//DTD xsldoc XML V1.0//EN" "xsldoc.dtd">

-->

<!ELEMENT xsldoc (overview, cmd+)>
<!ELEMENT overview (header, body, footer)+>
<!ELEMENT header (#PCDATA)>
<!ELEMENT body (title?, para)+>
<!ELEMENT footer (#PCDATA)>
<!ELEMENT para (#PCDATA|text|list|link)* >
<!ATTLIST para 
   title CDATA #IMPLIED
>

<!ELEMENT list (li+)>
<!ELEMENT li (#PCDATA |list| text| comment|link)* >
<!ELEMENT text (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT comment (#PCDATA)>

<!ELEMENT cmd (summary, body? , usage)>
<!ATTLIST cmd 
    name CDATA #REQUIRED
    shortcut CDATA #IMPLIED
    title CDATA #IMPLIED
>

<!ELEMENT usage (li+)>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT command (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ATTLIST link href CDATA #REQUIRED>



